/**
 * NAVIGATION TOP BAR
 */
#t_Header {
    height:                 3rem;  /* BAR_HEIGHT */
	line-height:            2.5rem;
}
#t_Header > #top_header,
#t_Header > #top_header * {
    user-drag:              none;
    -moz-user-select:       none;
    -webkit-user-drag:      none;
    -moz-user-drag:         none;
    margin: 0;
    padding: 0;
    color:                  #fff;
}
#t_Header > #top_header {
    width:                  100%;
    height:                 3rem;  /* BAR_HEIGHT */
    z-index:                1000;
    position:               fixed;
    top:                    0;
}
#t_Header > #top_header nav {
    display:                flex;
    flex-direction:         row;
    flex-wrap:              nowrap;
    justify-content:        space-between;
    align-items:            stretch;
}
#t_Header > #top_header nav > * {
    flex-grow:              0;
}
#t_Header > #top_header nav > .EMPTY {  /* SPLITTER BETWEEN LEFT AND RIGHT */
    flex-grow:              1;
}



/**
 * NAVIGATION MENUS
 */
#t_Header > #top_header > nav > * {
    float:                  left;
    text-align:             left;
}
#t_Header > #top_header > nav a,
#t_Header > #top_header > nav a:hover {
    font-style:             normal;
    font-weight:            400;
    text-decoration:        none;
    color:                  #fff;
    outline:                none;
}
#t_Header > #top_header > nav .HIDDEN {
    display:                none;
}



/**
 * DROPDOWN LISTS
 */
#t_Header > #top_header > nav ul {
    list-style-type:        none;
}
#t_Header > #top_header > nav ul li {               /* FOR ALIGN BATCH NUMBERS - EXTEND WIDTH */
    display:                block;
    float:                  left;
    position:               relative;
    transition-duration:    0.2s;
    font-style:             normal;
    font-weight:            400;
}
#t_Header > #top_header > nav ul li a {
    display:                block;
    padding:                1rem 0.9rem 0 !important;
    white-space:            nowrap;
    height:                 3rem;  /* BAR_HEIGHT */
    line-height:            1rem;
    font-size:              1rem;
}
#t_Header > #top_header > nav ul li ul {
    display:                none;
    position:               absolute;
    left:                   0;
    visibility:             hidden;
    opacity:                0;
    z-index:                1000;
    transition:             all 0.2s ease;
    box-shadow:             0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
#t_Header > #top_header > nav ul li.RIGHT ul {
    left:                   auto;
    right:                  0;
}
#t_Header > #top_header > nav ul li.RIGHT ul li,
#t_Header > #top_header > nav ul li.RIGHT ul li > * {
    text-align:             right;
}
#t_Header > #top_header > nav ul li:hover > ul,
#t_Header > /*#top_header > nav ul li:focus-within > ul,*/
#t_Header > #top_header > nav ul li ul:hover {
    display:                block;
    visibility:             visible;
    opacity:                1;
}
#t_Header > #top_header > nav ul li ul li {
    clear:                  both;
    width:                  100%;
}
#t_Header > #top_header > nav ul li a > span {
    display:                inline-block        !important;
    vertical-align:         top;
}
#t_Header > #top_header > nav ul li a span.fa {  /* FIX OFFSET FOR ICONS */
    line-height:            1.1rem;
}



/**
 * MIDDLE (EMPTY PART) OF TOP MENU
 */
#t_Header > #top_header,
#t_Header > #top_header > nav ul li.TRANSPARENT {
    background:             #3f3d33;
    color:                  #fff;
}



/**
 * MAIN/TOP MENU ITEM
 */
#t_Header > #top_header > nav ul li {
    background:             #3f3d33;
    font-size:              1.3rem;
}



/**
 * ACTIVE ITEMS OVERWRITE
 */
#t_Header > #top_header > nav ul li.ACTIVE {
    background:             #222;
}
#t_Header > #top_header > nav ul li.ACTIVE > a {
    font-weight:            600;
}
#t_Header > #top_header > nav ul li.ACTIVE_HOVER,  /* ASSIGN THIS CLASS WHEN HOVER OVER CALENDAR */
#t_Header > #top_header > nav ul li.ACTIVE:hover {
    background:             #222;
}
#t_Header > #top_header > nav ul li:hover {
    background:             #222;
}



/**
 * CUSTOMIZE LOGOUT ITEMS
 */
#t_Header > #top_header > nav ul li.LOGOUT,
#t_Header > #top_header > nav ul li.USER_PROFILE {
}
#t_Header > #top_header > nav ul li.LOGOUT a:hover,
#t_Header > #top_header > nav ul li.USER_PROFILE a:hover {
}

