.BOARD {
    width                   : 100%;
    display                 : grid;
    grid-template-columns   : 100px repeat(6, minmax(300px, 1fr)); /* overridden on tag */
    grid-auto-rows          : max-content;
    grid-column-gap         : 1rem;
    grid-row-gap            : 1rem;
    padding                 : 0 1rem 1rem 0;
}

.TARGET,
.TARGET_LIKE {
    margin          : 0;
    border-radius   : 5px;
    box-shadow      : 0 5px 10px rgba(0, 0, 0, 0.15);
    background      : #f9f9f9;
}
.TARGET_LIKE,
.TARGET_LIKE h3 {
    padding         : 0 0.5rem;
    border          : 0;
    box-shadow      : none;
    background      : transparent;
    text-align      : center;
    font-size       : 100%;
}
.TARGET_LIKE h3 {
    margin-bottom   : 0;
}
.TARGET {
    min-height      : 3rem;
}

.TASK {
    margin          : 0.5rem;
    padding         : 0.8rem;
    border-radius   : 4px;
    box-shadow      : 0 5px 10px rgba(0, 0, 0, 0.05);
    cursor          : move;
    font-size       : 90%;
    background      : #fff;
    color           : #000;
}
.TASK a,
.TASK a:hover {
    color               : #000;
    text-decoration     : none;
}

.DRAGGING {
    box-shadow      : 0px 5px 10px rgba(0, 0, 0, 0.20);
    background      : rgb(64, 64, 64);
    color           : #fff !important;
}
.DRAGGING a {
    color           : #fff !important;
}



/* HIDE EVERYTHING RELATED TO GRID */
#CHECKLIST .a-IG-header,
#CHECKLIST .a-GV-footer,
#CHECKLIST_ig_content_container .a-GV-hdr,
#CHECKLIST_ig_content_container .a-GV-footer,
#CHECKLIST_ig_content_container .js-stickyWidget-placeholder {
    display         : none !important;
}
#CHECKLIST_ig_content_container .a-IG {
    border          : 0 !important;
}
#CHECKLIST {
    margin-top      : 0.5rem;
}
#CHECKLIST * {
    border          : 0 !important;
    box-shadow      : none !important;
    background      : transparent !important;
}
#CHECKLIST .CHECKLIST_BOX {
    margin-bottom   : -0.5rem;
}
#CHECKLIST .CHECKLIST_ITEM {
    border-bottom   : 1px dotted #333 !important;
    padding-left    : 0;
    padding-right   : 0;
}
#CHECKLIST .CHECKLIST_BOX .apex-item-single-checkbox {
    padding         : 3px 0 0 0.6rem;
}
#CHECKLIST .a-GV-cell.is-changed:not(.is-active):before,
#CHECKLIST .a-GV-row.is-updated .a-GV-selHeader:before {
    display         : none !important;
}
#CHECKLIST .a-GV-w-scroll {
    margin-left     : -0.6rem;
}



/* RIGHT ALIGN USER COMMENTS */
#COMMENTS .t-Comments--chat li.OTHERS .t-Comments-icon {
    margin-left     : 2rem;
}

/* FIX TRASH ICON ALIGNMENT */
#COMMENTS span.t-Comments-actions {
    display         : block;
    float           : right;
    margin          : 0.25rem 0 -0.25rem;
}

